<!DOCTYPE html>
<body>
  <h1>Welcome to HTTP Image Manipulation</h1>
  <p><em>(by Vinsensius Angelo)</em></p>
  <p>There are 3 available endpoints:
  <ol>
    <li>Convert image files from PNG to JPEG (<code>HTTP POST /image-png-to-jpeg</code>)</li>
    <li>Resize images according to specified dimensions (<code>HTTP POST /image-resize</code>)</li>
    <li>Compress images to reduce file size while maintaining reasonable quality (<code>HTTP POST /image-compression</code>)</li>
  </ol>
  </p>
</body>
</html>
